*{
  margin: 0;
  padding: 0;
}
li{
  list-style: none
}
.title{
  text-align: center;
  padding: 10px 0;
}
.main{
  display: flex;
  justify-content: center;
}
.list{
  border: 1px solid rgb(2, 145, 228);
  width: 500px;
  margin: 10px;
}
.list h3{
  text-align: center;
  background: rgb(2, 145, 228);
  color: #ffffff;
  line-height: 46px;
}
.list li {
  line-height: 40px;
  border-bottom: 1px solid #eeeeee;
  cursor: pointer;
  transition: 0.5s;
  padding: 0 20px;
}
.list li:hover{
  background: #1ac4f9
}

.btn{
  display: inline-block;
  width: 200px;
  height: 40px;
  margin: 10px;
  text-align: center;
  border-radius: 10px;
  background: #1ac4f9;
  color: #ffffff;
  line-height: 40px;
  cursor: pointer;
}
.pointBox{
  width: 500px;
  height: 500px;
  margin: 0 auto;
  background-color: rgba(0,0,0,.1);
  position: relative;
}
.pointBox h1{
  opacity: .15;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
.pointBox div{
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: green;
  transition: all .3s ease-in-out;
}
.pointBox .point-move{
  background-color: red;
  z-index: 3;
}
